.sad {
	height: 10px;
	width: 10px;
}
#revenge {
	background-color: red;
}
.div {
	height: 100px;
	width: 100px;
	background-color: grey;
}
.strong {
	border: solid 10px black;
}
.div-sensei {
	border: solid 50px black;
}
.enemy {
	background-color: blue;
	height: 300px;
	width: 300px;
}
.happy {
	background-color: orange;
}